// FONTS
@mixin Ossie($size, $weight, $color, $ltr-spacing, $ln-height, $align) {
  font-family: "Oswald", sans-serif;
  font-size: $size;
  font-weight: $weight;
  color: $color;
  letter-spacing: $ltr-spacing;
  line-height: $ln-height;
  text-align: $align;
}

@mixin Domi($size, $weight, $color, $ltr-spacing, $ln-height, $align) {
  font-family: "Domine", serif;
  font-size: $size;
  font-weight: $weight;
  color: $color;
  letter-spacing: $ltr-spacing;
  line-height: $ln-height;
  text-align: $align;
}

@mixin Monti($size, $weight, $color, $ltr-spacing, $ln-height, $align) {
  font-family: "Montserrat", sans-serif;
  font-size: $size;
  font-weight: $weight;
  color: $color;
  letter-spacing: $ltr-spacing;
  line-height: $ln-height;
  text-align: $align;
}


// horizontal x-axis

@mixin tablet-land {
  @media (max-width: 1300px) {
    @content;
  }
}

@mixin tablet-landS {
  @media (max-width: 1250px) {
    @content;
  }
}

@mixin tablet-landXS {
  @media (max-width: 1070px) {
    @content;
  }
}

@mixin tablet-portXL {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin tablet-port {
  @media (max-width: 960px) {
    @content;
  }
}

@mixin mobile-land {
  @media (max-width: 690px) {
    @content;
  }
}

@mixin mobile-port {
  @media (max-width: 520px) {
    @content;
  }
}

@mixin mobile-tiny {
  @media (max-width: 365px) {
    @content;
  }
}

// vertical y-axis 

@mixin mobile-land-hy {
  @media (max-height: 900px) {
    @content;
  }
}


@mixin mobile-land-h {
  @media (max-height: 900px) and (max-width: 960px ) {
    @content;
  }
}

// vertical y-axis 
@mixin mobile-port-h {
  @media (max-height: 900px) and (max-width: 520px ) {
    @content;
  }
}


// reduced motion option ON for accessibility

@mixin reduce {
  @media (prefers-reduced-motion: reduce) {
    @content;
  }
}