
// colour scheme
$transparent: rgba(255, 255, 255, 0);
$tint: #F7F7F7; 
$grey: #dcdcdc;
$dark-grey: #7c7b7b;
$charcoal: #212121;
$font: #191919;
$season: #FF8585; // pink
$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$shadow-inset: inset 0px -1px 22px 8px rgba(0,0,0,0.75);
$link: #0077B5;
$alert: rgb(200, 33, 33);
