.wrapper.about {
  background-color: darken($tint, 5);
}

.about .splash {
  background-color: white;
  background-image: none;
}

.about article {
  @include tablet-port {
    // 960
    height: 25%;
  }
  .info a.logo {
    @include tablet-landXS {
      // 1070
      display: none;
    }
  }
}

.about aside {
  @include tablet-landXS {
    // 1070
    height: 70%;
  }
}

.meContainer {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.8fr 1.2fr;
  grid-auto-flow: row;
  grid-gap: 10px;
  position: relative;
  @include tablet-landS {
    // 1250
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: 0.7fr 1.3fr;
  }
  @include tablet-landXS {
    // 1070
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 0.7fr 1.3fr;
  }
  @include tablet-port {
    // 960
    grid-template-columns: 0.6fr 1.4fr;
    grid-template-rows: 0.7fr 1.3fr;
  }
  @include mobile-land {
    // 690
    grid-template-columns: 0.2fr 1.8fr;
    grid-template-rows: 0.1fr 1.9fr;
  }
  li {
    padding: 30px 30px 0 30px;
    border: 2px solid $season;
    transition: all 1s;
    p {
      color: $font;
      font-size: 1.65rem;
      @include tablet-landS {
        // 1250
        font-size: 1.5rem;
      }
      @include tablet-port {
        // 960
        font-size: 1.3rem;
      }
      @include mobile-port {
        // 520
        font-size: 1.4rem;
      }
      span {
        font-size: 3rem;
      }
    }
  }
  li.fall {
    position: relative;
    top: 700px;
    @include tablet-landS {
      // 1250
      display: none;
    }
  }
  li.today {
    box-shadow: $shadow-inset;
    background-image: url(../assets/about/wood2.png);
    @include tablet-landS {
      // 1250
      grid-column: 1 / 3;
    }
    @include tablet-landXS {
      // 1070
      overflow-y: scroll;
      scrollbar-color: $season rgba(0, 128, 0, 0);
      scrollbar-width: thin;
    }
    @include mobile-land-h {
      overflow-y: scroll;
      scrollbar-color: $season rgba(0, 128, 0, 0);
      scrollbar-width: thin;
    }
    p {
      color: white;
    }
    p.later {
      display: none;
      @include tablet-landS {
        // 1250
        display: block;
      }
      span {
        color: white;
      }
    }
    .spacer {
      display: none;
      min-height: 100px;
      @include tablet-landXS {
        // 1070
        display: block;
      }
      @include mobile-land-h {
        display: block;
      }
    }
  }
  li.hello {
    background-color: white;
    background-image: url(../assets/about/maple.jpg);
    background-size: 47%;
    background-position: right bottom;
    background-repeat: no-repeat;
    position: relative;
    top: -600px;
    @include tablet-landXS {
      // 1070
      background-size: 30%;
    }
    @include tablet-port {
      // 960
      background-size: 20%;
      background-position: right bottom;
      padding: 10px;
      display: flex;
      align-items: center;
    }
    h5 {
      width: 100%;
      color: $season;
      opacity: 0;
      position: relative;
      text-align: left;
      @include tablet-landXS {
        // 1070
        font-size: 6rem;
      }
      @include tablet-port {
        // 960
        height: 40%;
        width: 100%;
        font-size: 4.5rem;
      }
      @include mobile-port {
        // 520
        font-size: 3rem;
      }
      @include mobile-tiny {
        // 520
        font-size: 2.5rem;
      }
      span {
        display: block;
        font-size: 5rem;
        position: absolute;
        @include tablet-landXS {
          // 1070
          position: static;
          display: inline-block;
        }
        @include mobile-port {
          // 520
          font-size: 3rem;
        }
        @include mobile-tiny {
          // 520
          font-size: 2.5rem;
        }
      }
    }
  }
  li.me {
    height: 100%;
    background-image: url(../assets/about/me2.png);
    background-size: cover;
    box-shadow: $shadow-inset;
    background-repeat: no-repeat;
    @include tablet-port {
      // 960
      background-size: cover;
      background-position: center;
    }
  }
}

.about nav.expand {
  height: 100%;
}

.overflowShadow {
  display: none;
  position: absolute;
  height: 70px;
  width: calc(100% - 4px);
  bottom: 2px;
  left: 2px;
  background: linear-gradient(rgba(255, 255, 255, 0), black);
  @include mobile-port {
    // 520
    display: block;
  }
}
