.wrapper.contact {
  background-color: darken($tint, 5);
  @include mobile-land-vw {
    // 1070w x 1000v
    padding: 15px 15px 80px 15px;
  }
  @include mobile-portS-vw {
    // 365w x 800v
    padding: 15px 0px 80px 0px;
  }
}

.wrapper.contact:after {
  @include tablet-landXS {
    // 1070
    display: none;
  }
}

.contact aside {
  @include tablet-landXS {
    // 1070
    height: 65%;
  }
  @include mobile-land-vw {
    // 1070w x 1000v
    height: 55%;
  }
  @include mobile-portS-vw {
    // 365w x 800v
    width: 100%;
  }
}

.contact article {
  @include tablet-landXS {
    // 1070
    height: 30%;
  }
  @include mobile-land-vw {
    // 1070w x 1000v
    height: 40%;
  }
  .info {
    @include tablet-landXS {
      // 1070
      padding-top: 0px;
    }
    @include mobile-land-vw {
      // 1070w x 1000v
    }
    h1 {
      @include mobile-land-vw {
        // 1070w x 1000v
        font-size: 3rem;
      }
      p {
        @include mobile-land-vw {
          // 1070w x 1000v
          font-size: 1.1rem;
        }
      }
    }
    .social {
      @include mobile-land-vw {
        // 1070w x 1000v
        margin-top: 10px;
      }
    }
    a.logo {
      @include tablet-landXS {
        // 1070
        pointer-events: auto;
        cursor: pointer;
        width: 110px;
        height: 110px;
        .logo1,
        .logo2,
        .logo3 {
          width: 110px;
          height: 110px;
        }
        h3 {
          display: block;
          font-size: 1.5rem;
          position: relative;
          z-index: 3000;
        }
      }
    }
  }
}

.contact .splash {
  background-color: $tint;
  padding: 50px 90px;
  display: flex;
  flex-direction: column;
  @include tablet-landXS {
    // 1070
    padding: 20px 80px;
  }
  @include mobile-port {
    // 520
    padding: 20px 40px;
  }
  @include mobile-land-vw {
    // 1070w x 1000v
    padding: 10px 30px;
  }
  @include mobile-portS-vw {
    // 365w x 800v
    width: 100%;
  }
}

.messageTitle {
  width: 100%;
  opacity: 0;
  @include mobile-port {
    // 520
    margin-bottom: 20px;
  }
  @include mobile-land-vw {
    // 1070w x 1000v
    margin-bottom: 15px;
  }
  h5 {
    color: $season;
    opacity: 0.8;
    font-size: 8rem;
    @include tablet-landXS {
      // 1070
      font-size: 5rem;
    }
    @include mobile-port {
      // 520
      font-size: 4rem;
    }
    @include mobile-land-vw {
      // 1070w x 1000v
      font-size: 3.5rem;
    }
  }
  a.email {
    display: flex;
    justify-content: center;
    &:hover ion-icon,
    &:focus ion-icon,
    &:active ion-icon {
      transform: scale(1.2);
      position: relative;
      left: 1px;
      color: $season;
    }
    &:hover p,
    &:focus p,
    &:active p {
      color: $season;
    }
    p {
      width: auto;
      text-align: center;
      color: lighten($font, 20);
      font-size: 2rem;
      @include tablet-landXS {
        // 1070
        font-size: 1.8rem;
      }
      @include mobile-land-vw {
        // 1070w x 1000v
        font-size: 1.5rem;
      }
    }
    ion-icon {
      font-size: 2rem;
      transition: all 0.5s;
    }
  }
}

.contact textarea#email {
  position: absolute;
  left: -2000px;
}
