.wrapper.home {
  background-color: darken($tint, 5);
  @include mobile-land {
    // 690w
    padding: 20px;
  }
}

.home article {
  @include tablet-landXS {
    // 1070
    height: 45%;
  }
  @include mobile-port {
    // 520
    height: 55%;
  }
}

.home aside {
  @include tablet-landXS {
    // 1070
    height: 60%;
  }
  @include mobile-port {
    // 520
    height: 50%;
  }
}

.home .splash {
  background-color: white;
  ul {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    @include tablet-port {
      // 960
      grid-template-rows: 1fr 1fr;
    }
    li {
      border: 2px solid $season;
      position: relative;
    }
  }
  li.window {
    background-color: white;
    background-image: url(../assets/home/birch.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    grid-row: 1 / 3;
    grid-column: 2 / 2;
    top: -600px;
    opacity: 0.2;
    transition: all 1s;
    @include tablet-landXS {
      // 1070
      background-position: right center;
    }
    @include tablet-portXL {
      background-image: none;
    }
    @include tablet-port {
      // 960
      grid-row: 1 / 2;
    }
  }

  li.grey2 {
    @include tablet-port {
      // 960
    }
  }

  li.window2 {
    grid-row: 2 / 4;
    grid-column: 1 / 1;
    background-color: white;
    top: 700px;
    opacity: 0.2;
    @include tablet-port {
      // 960
      grid-row: 2 / 3;
    }
  }
  li:not(.window):not(.window2) {
    border: 2px solid $grey;
  }
  h5 {
    font-size: 8rem;
    color: $grey;
    opacity: 0;
    transition: all 1s;
    @include tablet-land {
      // 1300
      font-size: 7rem;
    }
    @include tablet-landXS {
      // 1070
      display: none;
    }
  }
}

.info {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  p {
    text-align: center;
  }
}



.splash {
  a.mobile {
    display: block;
    width: 100%;
    height: 100%;
    transform: scale(0);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    transition: all 1.5s;
    @include tablet-landXS {
      // 1070
      transform: scale(1);
      position: static;
    }
    &:hover,
    &:focus,
    &:active {
      background-color: $season;
    }
    &:hover h3,
    &:focus h3,
    &:active h3 {
      color: $tint;
    }
    &:hover ion-icon,
    &:focus ion-icon,
    &:active ion-icon {
      color: $tint;
    }

    ion-icon {
      color: $season;
      align-self: center;
    }
    h3 {
      margin-top: 5px;
    }
  }
  ul {
    li:nth-of-type(odd) {
      a.mobile {
        ion-icon {
          color: $dark-grey;
        }
        &:hover,
        &:focus,
        &:active {
          background-color: $charcoal;
        }
        &:hover h3,
        &:focus h3,
        &:active h3 {
          color: $grey;
        }
        &:hover ion-icon,
        &:focus ion-icon,
        &:active ion-icon {
          color: $grey;
        }
      }
    }
  }
}
