.wrapper.next {
  background-color: darken($tint, 5);
  nav {
    width: 500px;
  }
}

.next article {
  @include tablet-landXS {
    // 1070
    height: 25%;
  }
  .info a.logo {
    @include tablet-landXS {
      // 1070
      display: none;
    }
  }
}

.next aside {
  @include tablet-landXS {
    // 1070
    height: 70%;
  }
}

.next .splash {
  padding: 10px;
  background-color: white;
  ul {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.2fr 0.8fr;
    grid-gap: 10px;
    @include tablet-landS {
      // 1250
      grid-template-rows: 1fr 1fr;
    }
    @include tablet-landXS {
      // 1070
      grid-template-rows: 1.2fr 0.8fr;
    }
    @include mobile-land {
      // 690
      grid-template-columns: 1fr;
      grid-template-rows: 1.2fr 0.8fr;
    }
    @include mobile-land-vw {
      // 1070w x 1000v
      grid-template-rows: 1fr 1fr;
    }
    @include mobile-port-vw {
      // 690w x 1000v
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
    li {
      border: 2px solid $season;
      h5 {
        transition: all 1s;
        @include tablet-landS {
          // 1250
          font-size: 10rem;
        }
        @include tablet-landXS {
          // 1070
          font-size: 9rem;
        }
        @include mobile-land-vw {
          // 1070w x 1000v
          font-size: 7rem;
        }
      }
    }
  }
}

li.learn {
  background-image: url(../assets/next/wood2.png);
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: $shadow-inset;
  @include mobile-land-vw {
    // 1070w x 1000v
    grid-row: 1 / 3;
  }
  @include mobile-land {
    // 690
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
  .container {
    @include mobile-port-vw {
      // 690w x 1000v
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    a.event {
      margin: 0 auto;
      margin-top: 15px;
      position: relative;
      width: 250px;
      border: 2px solid $tint;
      padding: 2.5%;
      display: block;
      @include mobile-port-vw {
        // 690w x 1000v
        margin: 10px;
        width: 45%;
      }
      &:hover,
      &:focus,
      &:active {
        background-color: rgba(255, 255, 255, 0.171);
      }
      &:hover ion-icon,
      &:focus ion-icon,
      &:active ion-icon {
        opacity: 1;
      }
      h4 {
        color: $tint;
        font-size: 2.6rem;
        text-align: left;
        @include tablet-landXS {
          // 1070
          font-size: 2.2rem;
        }
        @include mobile-port-vw {
          // 690w x 1000v
          font-size: 2rem;
        }
      }
      h4.date {
        font-size: 2rem;
        @include tablet-landXS {
          // 1070
          font-size: 1.9rem;
        }
        @include mobile-port-vw {
          // 690w x 1000v
          font-size: 1.7rem;
        }
      }
      ion-icon {
        position: absolute;
        top: 20px;
        right: 10px;
        font-size: 3.8rem;
        opacity: 0;
        color: $tint;
        transition: all 0.75s;
        @include mobile-port-vw {
          // 690w x 1000v
          font-size: 2rem;
        }
      }
    }
  }
}

li.build {
  background-image: url(../assets/next/desk3.png);
  background-size: cover;
  background-position: left bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  top: -600px;
  @include mobile-land {
    // 690
    display: none;
  }
  h4 {
    font-size: 2.6rem;
    @include tablet-landS {
      // 1250
      font-size: 2.4rem;
      padding: 2.5%;
    }
    @include tablet-landXS {
      // 1070
      font-size: 2.2rem;
    }
    @include mobile-land-vw {
      // 1070w x 1000v
      font-size: 2rem;
    }
    a {
      display: flex;
      justify-content: center;
      &:hover ion-icon,
      &:focus ion-icon,
      &:active ion-icon {
        opacity: 1;
      }
      &:hover h4,
      &:focus h4,
      &:active h4 {
        text-decoration: underline;
      }
      h4 {
        color: $link;
        position: relative;
        @include mobile-land-vw {
          // 1070w x 1000v
          width: 150px;
        }
        ion-icon {
          color: $link;
          font-size: 3rem;
          align-self: center;
          margin-left: 10px;
          position: absolute;
          top: 5px;
          opacity: 0;
          transition: all 1s;
          @include tablet-landS {
            // 1250
            font-size: 2.8rem;
          }
        }
      }
    }
  }
  h5 {
    color: $dark-grey;
  }
}

li.creative {
  background-color: white;
  position: relative;
  top: 700px;
  @include mobile-land {
    // 690
    display: none;
  }
  @include mobile-land-vw {
    // 1070w x 1000v
    display: none;
  }
  .img {
    height: 100%;
    background-image: url(../assets/next/linden.jpg);
    background-size: contain;
    background-position: left bottom;
    background-repeat: no-repeat;
    opacity: 0;
  }
}

li.blog {
  background-image: url(../assets/next/wood2.png);
  background-size: cover;
  background-position: left bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: $shadow-inset;
  @include mobile-land-vw {
    // 1070w x 1000v
    grid-column: 2 / 3;
  }
  @include mobile-land {
    // 690
    grid-row: 2 / 2;
    grid-column: 1 / 2;
  }
  a {
    width: 60%;
    margin: 0 auto;
    padding: 2.5%;
    border: 2px solid $tint;
    transition: all 0.75s;
    @include mobile-land-vw {
      // 1070w x 1000v
      width: 40%;
      padding: 1.5%;
    }
    @include mobile-port-vw {
      // 690w x 1000v
      width: 90%;
      padding: 2%;
      margin-top: 5px;
    }
    &:hover,
    &:focus,
    &:active {
      background-color: rgba(255, 255, 255, 0.582);
    }
    &:hover h3,
    &:focus h3,
    &:active h3 {
      color: $font;
    }
    h3 {
      color: $tint;
      @include mobile-land-vw {
        // 1070w x 1000v
        font-size: 1.5rem;
      }
      @include mobile-port-vw {
        // 690w x 1000v
        font-size: 1.8rem;
      }
    }
  }
}
