.wrapper.portfolio {
  background-color: darken($tint, 5);
}

.portfolio article {
  width: 20%;
  @include tablet-landXS {
    // 1070
    width: 100%;
    height: 25%;
  }
  @include mobile-land {
    // 690
    height: 18%;
  }
  @include mobile-portXS-vw {
    // 380w x 580h
    height: 18%;
  }
  .info p span.break {
    display: block;
    @include tablet-landXS {
      // 1070
      display: inline-block;
    }
  }
  .info p span.slash {
    @include tablet-landXS {
      // 1070
      display: none;
    }
  }
  .info a.logo {
    @include tablet-landXS {
      // 1070
      display: none;
    }
  }
  .info .social {
    @include mobile-land {
      // 690
      margin-top: 10px;
    }
  }
}

.portfolio aside {
  width: 80%;
  border: 2px solid $grey;
  @include tablet-landXS {
    // 1070
    width: 100%;
    height: 70%;
  }
  @include mobile-land {
    // 690
    height: 75%;
  }
  @include mobile-land-vw {
    // 1070w x 1000v
    height: 72.5%;
  }
  @include mobile-portXS-vw {
    // 380w x 580h
    height: 68%;
  }
}

.portfolio .splash {
  background-color: $tint;
  background-image: none;
  padding-right: 20px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  position: relative;
  @include tablet-land {
    // 1250
    padding: 30px;
  }
  @include tablet-landXS {
    // 1070
    padding: 10px;
  }
  @include mobile-land {
    // 690
    margin-top: 10px;
  }
  @include mobile-portS-vw {
    // 380w x 800v
    padding: 10px 10px 0px 10px;
  }
}

.projects {
  width: 20%;
  height: 350px;
  margin-top: 60px;
  padding-top: 20px;
  position: relative;
  transition: all 0.5s;
  top: 0;
  border-right: 2px solid $grey;
  @include tablet-land {
    // 1300
    opacity: 0;
    position: absolute;
    top: -600px;
  }
  @include tablet-landXS {
    top: -1000px;
  }
  p {
    text-align: center;
  }
  ul {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    margin-top: 20px;

    li {
      width: 80%;
      margin: 0 auto;
      height: 40px;
      button {
        width: 100%;
        &:hover h3,
        &:focus h3 {
          color: $season;
        }
        h3 {
          transition: all 0.5s;
          width: 100%;
          display: block;
          text-align: center;
          @include tablet-land {
            // 1300
            font-size: 2rem;
          }
          span {
            visibility: hidden;
            transition: all 0.5s;
          }
        }
      }
      button.selected {
        h3 {
          font-size: 2.3rem;
          color: $season;
          span {
            visibility: visible;
          }
        }
      }
    }
  }
}

.projects.mobile {
  position: absolute;
  width: 100%;
  height: 110px;
  margin-top: 0;
  padding-top: 0;
  opacity: 0;
  transition: all 0.5s;
  border-right: none;
  @include tablet-land {
    // 1300
    position: static;
    opacity: 1;
  }
  @include mobile-land-vw {
    // 1070w x 1000vv
    height: 55px;
  }
  @include mobile-port {
    // 520
    height: 100px;
  }
  @include mobile-port-vw {
    // 690w x 1000v
    height: 50px;
  }
  @include mobile-portS-vw {
    // 380w x 800v
    height: 35px;
  }

  h2 {
    margin-top: 0px;
    font-size: 2.3rem;
    @include tablet-landXS {
      // 1070
      font-size: 2.1rem;
    }
    @include mobile-landL-Vw {
      // 1070w x 1000+h
      font-size: 2.3rem;
    }

    @include mobile-land-vw {
      // 1070w x 1000v
      display: none;
    }
  }

  ul {
    height: 60px;
    width: 100%;
    display: flex;
    margin-top: 5px;
    border-top: 2px solid $grey;
    border-bottom: 2px solid $grey;
    @include tablet-landXS {
      // 1070
      height: 50px;
      padding: 5px;
    }
    @include mobile-port-vw {
      // 690w x 1000v
      padding: 0px;
      height: 30px;
    }
    li {
      width: 20%;
      @include tablet-portXL {
        // 800w
        width: 100px;
      }
      @include mobile-port-vw {
        // 690w x 1000v
        height: 30px;
      }
      div.project {
        cursor: pointer;
        h3 {
          width: 100%;
          text-align: center;
          transition: all 1s;
          @include tablet-portXL {
            // 800w
            font-size: 1.8rem;
            height: 30px;
            overflow: hidden;
          }
          @include mobile-port {
            // 520
            font-size: 1.7rem;
          }
          span {
            visibility: hidden;
          }
        }
        &:hover h3,
        &:focus h3 {
          color: $season;
        }
      }
      div.project.selected {
        cursor: pointer;
        pointer-events: none;
        h3 {
          font-size: 2.15rem;
          color: $season;
          @include tablet-portXL {
            // 800w
            font-size: 1.9rem;
          }
          @include mobile-port {
            // 520
            font-size: 1.7rem;
          }
          span {
            visibility: visible;
            @include tablet-portXL {
              visibility: hidden;
            }
          }
        }
      }
    }
  }
}

.gallery {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
  // border: 2px solid rgb(255, 136, 0);
  @include tablet-land {
    // 1300
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.rotationContainer {
  height: 340px;
  width: 750px;
  top: -600px;
  transition: all 1s;
  margin: 0 auto;
  position: relative;
  // border: 2px solid fuchsia;
  @include tablet-land {
    // 1300
    margin: 0 auto;
  }
  @include tablet-landXS {
    // 1070
    width: 400px;
  }
  @include mobile-landL-Vw {
    // 1070w x 1000+h
    height: 200px;
  }
  @include mobile-land-vw {
    // 1070w x 1000v
    height: 180px;
  }
  @include mobile-land {
    // 690
    width: 100%;
  }
  .board {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5%;
    border: 2px solid $dark-grey;
    background-color: white;
    box-shadow: $shadow;
    display: flex;
    justify-content: center;
    position: absolute;
    transition: all 1s;
  }
  .side {
    width: 250px;
    height: 200px;
    z-index: 500;
    top: 60px;
    opacity: 0.2;
    @include tablet-landXS {
      // 1070
      width: 180px;
      height: 140px;
      top: 40px;
    }
    @include mobile-land {
      // 690
      display: none;
    }
  }
  .center {
    background-image: url(../assets/portfolio/2.png);
    z-index: 1000;
    width: 400px;
    height: 310px;
    left: 175px;
    @include tablet-landXS {
      // 1070
      width: 250px;
      height: 180px;
      left: 75px;
    }
    @include mobile-land {
      // 690
      position: static;
      margin: 0 auto;
    }
    @include mobile-portS-vw {
      // 380w x 800v
      height: 160px;
    }
    @include mobile-portXS-vw {
      // 380w x 580v
      width: 200px;
      height: 140px;
    }
  }

  .board.right {
    background-image: url(../assets/portfolio/1.png);
    left: 500px;
    @include tablet-landXS {
      // 1070
      left: 220px;
    }
  }

  .board.left {
    background-image: url(../assets/portfolio/3.png);
  }
}

.rotationControl {
  width: 750px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  z-index: 3000;
  opacity: 0;
  top: -200px;
  // border: 2px solid fuchsia;
  height: 10px;
  @include tablet-landXS {
    // 1070
    width: 100%;
    top: -120px;
  }
  button {
    height: 70px;
    width: 70px;
    border: 2px solid $charcoal;
    background-color: $charcoal;
    box-shadow: $shadow;
    transition: all 1s;
    @include tablet-landXS {
      // 1070
      background-color: lighten($charcoal, 20);
      border: 2px solid lighten($charcoal, 20);
    }
    @include mobile-port {
      // 520w
      height: 50px;
      width: 50px;
    }
    &:hover,
    &:focus,
    &:active {
      background-color: $season;
      border: 2px solid $season;
    }
    &:hover ion-icon,
    &:focus ion-icon,
    &:active ion-icon {
      transform: scale(1.2);
      color: white;
    }
    ion-icon {
      color: white;
      transition: all 0.5s;
      font-size: 6rem;
      @include mobile-port {
        // 520w
        font-size: 4rem;
      }
    }
  }
}

.projectInfo {
  width: 750px;
  margin: 0 auto;
  transition: all 0.5s;
  margin-top: 10px;
  opacity: 0;
  // border: 2px solid rgb(0, 255, 157);
  position: relative;
  @include tablet-land {
    // 1300
    width: 100%;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0;
  }
  // PROJECT TITLE
  .titleContainer {
    order: 1;
    height: 40px;
    min-height: 40px;
    // border: 2px solid fuchsia;
    @include tablet-land {
      // 1300
      display: none;
    }
    h2 {
      text-align: left;
    }
  }
  // PROJECT DESCRIPTION
  .descriptionContainer {
    order: 2;
    margin-top: 15px;
    height: 110px;
    min-height: 110px;
    // border: 2px solid fuchsia;
    @include tablet-land {
      // 1300
      margin-top: 10px;
      padding-left: 15px;
    }
    @include tablet-landXS {
      // 1070
      padding-left: 0px;
    }
    @include mobile-land-vw {
      // 1070w x 1000v
      margin-top: 0px;
    }
    @include mobile-landL-Vw {
      // 1070w x 1001+v
      height: 160px;
    }
    @include mobile-port {
      // 690w
      height: 200px;
    }
    @include mobile-port-vw {
      // 690w x 1000v
      height: 120px;
    }
    @include mobile-portS-vw {
      height: 130px;
    }

    p {
      font-size: 1.55rem;
      color: $font;
      @include tablet-land {
        // 1300
        font-size: 1.5rem;
      }
      @include tablet-landXS {
        // 1070
        margin-top: 20px;
        font-size: 1.4rem;
      }
      @include mobile-land-vw {
        // 1070w x 1000v
        margin-top: 10px;
        font-size: 1.35rem;
      }
      @include mobile-port-vw {
        // 690w x 1000v
        font-size: 1.15rem;
      }
      @include mobile-portXS-vw {
        // 380w x 580v
        font-size: 1rem;
      }
    }
  }

  // PROJECT LINKS
  .linkContainer {
    // border: 2px solid fuchsia;
    order: 3;
    width: 50%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    @include tablet-land {
      // 1300
      margin-top: 0px;
      padding-left: 10px;
    }

    @include tablet-landXS {
      // 1070
      padding-left: 0px;
    }
  }
  .linkContainer a:first-child {
    margin-right: 15px;
  }
  a.linkButton {
    width: 120px;
    padding: 5px 0;
    background-color: white;
    border: 2px solid $season;
    @include tablet-landXS {
      // 1070
      width: 90px;
    }
    @include mobile-portS-vw {
      padding: 0px;
    }
    &:focus,
    &:hover,
    &:active {
      background-color: $season;
      color: white;
    }
    &:focus h3,
    &:hover h3,
    &:active h3 {
      color: white;
    }
    h3 {
      font-size: 1.8rem;
      transition: all 0.5s;
      @include tablet-landXS {
        // 1070
        font-size: 1.6rem;
      }
    }
  }

  // PROJECT SKILLS
  .skillsContainer {
    width: 100%;
    height: 50px;
    margin-top: 40px;
    order: 4;
    // border: 2px solid fuchsia;
    @include tablet-land {
      // 1300
      margin-top: 15px;
      padding: 10px 0;
      height: 80px;
      order: 1;
    }
    @include tablet-landXS {
      // 1070
      margin: 0;
      padding: 5px 0;
      height: 60px;
    }
    @include mobile-land-vw {
      // 1070w x 1000v
      position: absolute;
      bottom: 0;
      right: 0;
      width: 70%;
    }
    @include mobile-port-vw {
      // 690w x 1000v
      position: static;
      order: 4;
      height: 50px;
    }
    @include mobile-portS-vw {
      // 380w x 800v
      margin-top: 15px;
      width: 100%;
    }
    ul.skills {
      // border: 2px solid blue;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-auto-flow: column;
      grid-gap: 10px;
      margin-left: -5px;
      @include tablet-land {
        // 1300
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 0px;
      }
      @include mobile-land-vw {
        // 1070w x 1000v
        justify-content: flex-end;
      }
      @include mobile-port-vw {
        // 690w x 1000v
        justify-content: flex-start;
      }

      li {
        @include tablet-land {
          // 1300
          margin: 0 20px;
        }
        @include mobile-land-vw {
          // 1070w x 1000v
          margin: 0 12.5px;
        }
        @include mobile-port {
          // 520w
          margin: 0px 10px;
        }
        @include mobile-port-vw {
          // 690w x 1000v
          margin: 0px 15px;
        }
        @include mobile-portS-vw {
          // 380w x 800v
          padding-left: 0px 5px;
        }
        .icon {
          width: 30px;
          display: flex;
          justify-content: space-between;
          @include mobile-land {
            // 690
            width: 25px;
          }
          @include mobile-port {
            // 520
            width: 20px;
          }
          @include mobile-land-vw {
            // 1070w x 1000v
            width: 25px;
          }
          @include mobile-port-vw {
            // 690w x 1000v
            width: 20px;
          }
        }
        .iconImage {
          width: 30px;
          @include mobile-land {
            // 690
            width: 25px;
          }
          @include mobile-port {
            // 520
            width: 20px;
          }
          @include mobile-land-vw {
            // 1070w x 1000v
            width: 25px;
          }
          @include mobile-port-vw {
            // 690w x 1000v
            width: 20px;
          }
        }
        h4 {
          font-size: 1.5rem;
          @include mobile-land-vw {
            // 1070w x 1000v
            font-size: 1.3rem;
          }
          @include mobile-land {
            // 690
            font-size: 1.3rem;
          }
          @include mobile-port {
            // 520
            font-size: 1.1rem;
          }
          @include mobile-port-vw {
            // 690w x 1000v
            font-size: 1.1rem;
          }
        }
      } // li ends
    } // ul ends
  } // skillsContainer end

  // project info ends
}

// CAROUSEL

.centerANIM {
  animation: CENTER 0.5s ease-in-out;
  animation-fill-mode: forwards;
  @include tablet-landXS {
    // 1070
    animation: CENTER_M 0.5s ease-in-out;
  }
}

.leftANIM {
  animation: LEFT 0.5s ease-in-out;
  animation-fill-mode: forwards;
  @include tablet-landXS {
    // 1070
    animation: LEFT_M 0.5s ease-in-out;
  }
}

.rightANIM {
  animation: RIGHT 0.5s ease-in-out;
  animation-fill-mode: forwards;
  @include tablet-landXS {
    // 1070
    animation: RIGHT_M 0.5s ease-in-out;
  }
}

.centerANIMrev {
  animation: CENTER_REV 0.5s ease-in-out;
  animation-fill-mode: forwards;
  @include tablet-landXS {
    // 1070
    animation: CENTER_REV_M 0.5s ease-in-out;
  }
}

.leftANIMrev {
  animation: LEFT_REV 0.5s ease-in-out;
  animation-fill-mode: forwards;
  @include tablet-landXS {
    // 1070
    animation: LEFT_REV_M 0.5s ease-in-out;
  }
}

.rightANIMrev {
  animation: RIGHT_REV 0.5s ease-in-out;
  animation-fill-mode: forwards;
  @include tablet-landXS {
    // 1070
    animation: RIGHT_REV_M 0.5s ease-in-out;
  }
}
