.wrapper.skills {
  background-color: darken($tint, 5);
}

.skills article {
  @include tablet-landXS {
    // 1070
    height: 25%;
  }
  .info a.logo {
    @include tablet-landXS {
      // 1070
      display: none;
    }
  }
}
.skills aside {
  @include tablet-landXS {
    // 1070
    height: 70%;
  }
}

.skills .splash {
  background-color: $tint;
  background-image: none;
  border: 2px solid $grey;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include mobile-port {
    // 520
    padding: 10px;
  }
  .skillset {
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @include mobile-port {
      // 520
      height: 50%;
    }
    h3 {
      height: 15%;
      width: 100%;
      color: $charcoal;
      opacity: 0;
      @include mobile-port {
        // 520
        display: none;
      }
      @include mobile-land-vw {
        // 1070w x 1000v
        display: none;
      }
    }

    ul {
      background-color: white;
      height: 85%;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-auto-flow: row;
      grid-gap: 20px;
      padding: 30px;
      border: 2px solid $season;
      box-shadow: $shadow;
      @include mobile-port {
        // 520
        height: 90%;
        padding: 10px;
      }
      @include mobile-land-vw {
        // 1070w x 1000v
        height: 90%;
        padding: 10px;
      }
      li {
        display: flex;
        justify-content: center;
        .icon {
          width: 40px;
          @include tablet-landXS {
            width: 30px;
          }
        }
        .iconImage {
          width: 40px;
          @include tablet-landXS {
            width: 30px;
          }
        }
        h4 {
          font-size: 1.8rem;
          @include tablet-landXS {
            font-size: 1.5rem;
          }
          @include mobile-port {
            // 520
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  .skillset.swoopDown {
    position: relative;
    top: -600px;
  }
  .skillset.swoopUp {
    position: relative;
    top: 700px;
  }
}

.skills nav.expand {
  height: 80%;
  ul {
    li a:not(.selected) {
      color: $charcoal;
    }
  }
}

.skills .pagination {
  p {
    color: $charcoal;
  }
}
