.message {
  width: 100%;
  height: 80%;
}

.messageWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: $transparent;
  padding: 0;
  form {
    width: 100%;
    height: 100%;
  }
}

fieldset {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @include Domi(1.8rem, normal, $charcoal, 1.5, 1.6, left);
  position: relative;
  top: -600px;
  @include mobile-land-vw {
    // 1070w x 1000v
    font-size: 1.5rem;
  }
  @include mobile-portS-vw {
    // 380w x 800v
    font-size: 1.2rem;
  }
  label {
    @include Ossie(2rem, normal, $font, normal, normal, center);
    text-transform: uppercase;
    text-align: left;
    // margin-top: 20px;
    width: 100%;
    @include tablet-landXS {
      // 1070
      font-size: 1.8rem;
    }
    @include mobile-land-vw {
      // 1070w x 1000v
      font-size: 1.5rem;
      justify-content: space-between;
    }
    span {
      color: $alert;
    }
  }
  input {
    padding: 15px 20px;
    width: 100%;
    border: 2px solid $dark-grey;
    background-color: white;
    @include tablet-landXS {
      // 1070
      padding: 8px 12.5px;
    }
  }
  label.error {
    color: $alert;
    @include mobile-land-vw {
      // 1070w x 1000v
      font-size: 1.15rem;
    }
    @include mobile-portS-vw {
      // 365w x 800v
      font-size: 1rem;
    }
  }
  textarea {
    width: 100%;
    padding: 15px 20px;
    resize: vertical;
    border: 2px solid $dark-grey;
    @include tablet-landXS {
      // 1070
      height: 6em;
    }
    @include mobile-land-vw {
      // 1070w x 1000v
      height: 4em;
    }
  }
  button {
    width: 47%;
    border: 2px solid $season;
    background-color: white;
    text-transform: uppercase;
    margin-top: 10px;
    display: inline-block;
    transition: all 1s;
    height: 50px;
    @include tablet-landXS {
      // 1070
      height: 40px;
    }
    @include mobile-land-vw {
      // 1070w x 1000v
      width: 23%;
      margin-right: 15px;
      height: 35px;
    }
    &:hover,
    &:focus {
      background-color: $season;
    }
    &:hover h3,
    &:focus h3 {
      color: $tint;
    }
    h3 {
      @include tablet-landXS {
        // 1070
        font-size: 2rem;
      }
      @include mobile-land-vw {
        // 1070w x 1000v
        font-size: 1.5rem;
      }
    }
  }
}

input::placeholder,
textarea::placeholder {
  color: lighten($charcoal, 20);
  opacity: 1;
  @include tablet-landXS {
    // 1070
    font-size: 1.5rem;
  }
  @include mobile-portS-vw {
    // 365w x 800v
    font-size: 1.2rem;
  }
}

input:focus,
input:active,
textarea:focus,
textarea:active {
  background-color: $charcoal;
  color: $tint;
  background-image: none;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: darken($tint, 10);
}

.formButtons {
  display: flex;
  justify-content: space-between;
  @include mobile-land-vw {
    // 1070w x 1000v
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 100%;
    justify-content: flex-start;
    align-content: center;
  }
}

.formBox {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @include tablet-landXS {
    // 1070
    height: 100px;
  }
  @include mobile-land-vw {
    // 1070w x 1000v
    height: 85px;
    position: relative;
  }
}

.formBox.theMessage {
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  @include tablet-landXS {
    // 1070
    height: 160px;
  }
  @include mobile-land-vw {
    // 1070w x 1000v
    height: 110px;
  }
}

.nameBox {
  @include mobile-land-vw {
    // 1070w x 1000v
    display: flex;
    width: 100%;
    height: 35%;
    .formBox {
      width: 100%;
    }
    .formBox:first-of-type {
      margin-right: 30x;
      @include mobile-portS-vw {
        // 365w x 800v
        margin-right: 15px;
      }
    }
  }
}

.messageBox {
  @include mobile-land-vw {
    // 1070w x 1000v
    height: 65%;
    width: 100%;
    justify-content: flex-start;
  }
}

label.error:not(input.error) {
  margin-top: 0;
  font-size: 1.6rem;
  color: $alert;
  @include tablet-landXS {
    // 1070
    font-size: 1.3rem;
  }
  @include mobile-land-vw {
    // 1070w x 1000v
    position: absolute;
    bottom: 0;
    left: 2px;
  }
}
