.message {
  width: 100%;
  height: 80%;
}

.messageWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: $transparent;
  padding: 0;
  form {
    width: 100%;
    height: 100%;
  }
}

fieldset {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @include Domi(1.8rem, normal, $charcoal, 1.5, 1.6, left);
  position: relative;
  top: -600px;
  // @include mobile-land-vw {
  //   // 1070w x 1000v
  //   flex-direction: row;
  //   justify-content: center;
  // }
  label {
    @include Ossie(2rem, normal, $font, normal, normal, center);
    text-transform: uppercase;
    text-align: left;
    margin-top: 20px;
    width: 100%;
    @include tablet-landXS {
      // 1070
      font-size: 1.8rem;
    }
    @include mobile-land-vw {
      // 1070w x 1000v
      font-size: 1.7rem;
    }
    span {
      color: $alert;
    }
  }
  input {
    padding: 15px 20px;
    width: 100%;
    border: 2px solid $dark-grey;
    background-color: white;
    @include tablet-landXS {
      // 1070
      padding: 9px 15px;
    }
  }

  textarea {
    width: 100%;
    padding: 15px 20px;
    resize: vertical;
    border: 2px solid $dark-grey;
    @include tablet-landXS {
      // 1070
      height: 6em;
    }
    @include mobile-land-vw {
      // 1070w x 1000v
      height: 5em;
    }
  }
  button {
    width: 47%;
    border: 2px solid $season;
    background-color: white;
    text-transform: uppercase;
    margin-top: 10px;
    display: inline-block;
    transition: all 1s;
    height: 50px;
    @include tablet-landXS {
      // 1070
      height: 40px;
    }
    @include mobile-land-vw {
      // 1070w x 1000v
      width: 30%;
      margin-left: 15px;
    }
    &:hover,
    &:focus {
      background-color: $season;
    }
    &:hover h3,
    &:focus h3 {
      color: $tint;
    }
    h3 {
      @include tablet-landXS {
        // 1070
        font-size: 2rem;
      }
    }
  }
}

input::placeholder,
textarea::placeholder {
  color: lighten($charcoal, 20);
  opacity: 1;
  @include tablet-landXS {
    // 1070
    font-size: 1.5rem;
  }
}

input:focus,
input:active,
textarea:focus,
textarea:active {
  background-color: $charcoal;
  color: $tint;
  background-image: none;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: darken($tint, 10);
}

.formButtons {
  display: flex;
  justify-content: space-between;
  @include mobile-land-vw {
    // 1070w x 1000v
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 100%;
    justify-content: flex-end;
  }
}

.formBox {
  height: 115px;
  @include mobile-land-vw {
    // 1070w x 1000v
    height: 90px;
  }
}

.formBox.theMessage {
  height: 185px;
  @include tablet-landXS {
    // 1070
    height: 160px;
  }
  @include mobile-land-vw {
    // 1070w x 1000v
    height: 190px;
  }
}

.nameBox {
  @include mobile-land-vw {
    // 1070w x 1000v
    display: flex;
    width: 100%;
    height: 30%;
    .formBox {
      width: 100%;
    }
    .formBox:first-of-type {
      margin-right: 30px;
    }
  }
}

.messageBox {
  @include mobile-land-vw {
    // 1070w x 1000v
    height: 70%;
    width: 100%;
    justify-content: flex-start;
  }
}

.error {
  margin-top: 0;
  font-size: 1.6rem;
  color: $alert;
  @include tablet-landXS {
    // 1070
    font-size: 1.3rem;
  }
  @include mobile-land-vw {
    // 1070w x 1000v
    font-size: 1.2rem;
  }
}
