
.icon {
  margin: 0 auto;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h4 {
    @include Ossie(
      2rem,
      normal,
      lighten($charcoal, 20),
      normal,
      normal,
      center
    );
  }
}

.iconImage {
  width: 50px;
  img {
    object-fit: contain;
  }
}

.iconType ion-icon {
  font-size: 5rem;
  color: lighten($charcoal, 15);
}