.mobileMenu {
  transform: scale(0);
  width: 100%;
  position: absolute;
  bottom: 6px;
  left: 0;
  ul {
    width: 400px;
    border: 2px solid yellow;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    li {
      border: 2px solid greenyellow;
      ion-icon {
        display: block;
        margin: 0 auto;
        font-size: 2.8rem;
      }
      h3 {
        font-size: 1.6rem;
      }
    }
  }
}