.mobileMenu {
  transform: scale(0);
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px 30px;
  transition: all 1s;
  @include tablet-landXS {
    // 1070
    transform: scale(1);
  }
  @include mobile-land {
    // 690
    padding: 10px 0px;
  }
  ul {
    background-color: white;
    width: 100%;
    border: 2px solid $grey;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    box-shadow: $shadow;
    padding: 10px;
    @include mobile-port {
      grid-gap: 2px;
    }
    li {
      border: 2px solid $season;
      a {
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        box-shadow: $shadow;
        ion-icon {
          font-size: 2.5rem;
          align-self: center;
        }
        h3 {
          font-size: 1.5rem;
          min-width: 60px;
          @include mobile-land {
            // 690
            font-size: 1.3rem;
            min-width: 50px;
          }
          @include mobile-port {
            font-size: 1.1rem;
            min-width: 30px;
          }
        }
      }
    }
  }
}
